* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    display: block;
}

    
/* canvas它的宽高一开始就固定设置好了，如果在css这里强行的再设置宽高，那就会在他原有的宽高基础上，拉伸他，
    呈现出来就会变模糊 ，那我怎么一开始就知道每个人屏幕的宽高？js会获取屏幕的宽高*/
    
  

